.booking-button-container {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
  }
  
  .booking-button {
    background-color: #00FFFF; 
    color: #050f14; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 1em; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }

  button {
    background-color: #00FFFF; 
    color: #050f14; 
    border-radius: 5px;
    padding: 10px 20px; 
    cursor: pointer; 
    transition: background-color 0.3s ease;  
  }
  
  button:hover {
    background-color: #18A7B5; 
  }
  